.amenities-section { 
  padding: 100px 0px 70px; 
}
.amenities-section img { width: 100%; margin-bottom: 10px; }
.btn-more { padding: 10px 20px; border-radius: 3px !important; margin-bottom: 20px; }
.btn-wrap {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

 .amenities-section h2 {
  font-family: "Marcellus", serif;
  font-size: 43px;
  font-weight: 400;
  font-style: normal;
  @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
}

.amenities-section p, .amenities-section a, .amenities-section button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

